<div class="card shadow mb-4">
    <div class="card-header">
        <strong>Network Status</strong>
    </div>
    <div class="card-body">
      <center>
     <script type="98c1c2368c3cbb7ecbc91538-text/javascript" src="https://cdn.jsdelivr.net/gh/davidjbradshaw/iframe-resizer@master/js/iframeResizer.min.js"></script>
<section style="width: var(--clamp);position: absolute;left: 50%;transform: translate(-50%);">
<script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="98c1c2368c3cbb7ecbc91538-|49"></script><iframe class="htframe" src="<%= settings.status.url %>" width="100%" scrolling="no" style="border:none;" sandbox="allow-scripts allow-same-origin allow-popups" onload="iFrameResize([{log:false}],'.htframe')"></iframe>
     <script>
      </center>
    </div>
</div>
